.cgit-wp-responsive-video-wrapper {
    width: 100%;
}

.cgit-wp-responsive-video {
    position: relative;
    height: 0;
    overflow: hidden;
}

.cgit-wp-responsive-video iframe,
.cgit-wp-responsive-video object,
.cgit-wp-responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tinymce .cgit-wp-responsive-video-wrapper {
    max-width: 500px;
}
